body{
    background-color:#69050D;
    font-family: 'Voces', cursive;
    text-align: center;
}

h1{
    letter-spacing: 1px;
    padding-top:50px;
    text-align: center;
    /* text-transform: uppercase; */
    color:#F8F1F3;
    font-weight: bold;
}

#inputText{
    margin-top:50px;
    width:100%;
    text-align: center;
    background-color:rgba(0,0,0,0);
    color:#F8F1F3 !important;
    font-size:3em;
    border:none;
}